#container {
   width: 900px;
   align: center;
}

#header {
   text-align: center;
   height: 50px;
}

#diagram {
   position: relative;
   float: left;
   width: 450px;
   margin: 0px;
}

#menu {
   position: relative;
   width: 200px;
   float: right;
   padding: 50px 0px 0px 0px;
   margin: 0px;
}

table {
   width: 90%;
   border: 1px solid black;
   text-align: center;
}



