[Unit]
Description=R2 Control
After=network.target
 
[Service]
Type=simple
User=root
Group=root
ExecStart=gunicorn3 -w 1 -b 0.0.0.0:5000 main:app
WorkingDirectory=/home/pi/r2_control
StandardOutput=syslog
StandardError=syslog
Restart=on-failure
 
[Install]
WantedBy=network.target
Alias=r2_control.service


