[Unit]
Description=R2 Control
After=network.target
 
[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/python -O -u /home/pi/r2_control/main.py
WorkingDirectory=/home/pi/r2_control
StandardOutput=syslog
StandardError=syslog
Restart=on-failure
 
[Install]
WantedBy=network.target
Alias=r2_control.service


