Adafruit-GPIO==1.0.3
Adafruit-PCA9685==1.0.1
Adafruit-PureIO==0.2.3
asn1crypto==0.24.0
backports.functools-lru-cache==1.5
backports.shutil-get-terminal-size==1.0.0
blinker==1.4
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
Click==7.0
colorama==0.3.7
configparser==3.5.0b2
cryptography==3.3.2
cycler==0.10.0
decorator==4.4.0
entrypoints==0.3
enum34==1.1.6
idna==2.8
intelhex==2.2.1
ipaddress==1.0.17
ipython==7.16.3
ipython-genutils==0.2.0
iso8601==0.1.12
itsdangerous==0.24
Jinja2==2.11.3
keyring==17.1.1
keyrings.alt==3.1.1
kiwisolver==1.1.0
MarkupSafe==1.1.0
matplotlib==2.2.4
mysmbus==0.1
numpy==1.22.0
pathlib2==2.3.4
pexpect==4.7.0
pickleshare==0.7.5
ptyprocess==0.6.0
pycparser==2.19
Pygments==2.7.4
pyinotify==0.9.6
pyOpenSSL==19.0.0
pyparsing==2.4.2
pyserial==3.4
python-dateutil==2.8.0
pytz==2019.2
pyusb==1.0.2
pyxdg==0.26
PyYAML==5.4
requests==2.22.0
RPi.GPIO==0.7.0
SabertoothPacketSerial==0.2.2
scandir==1.10.0
SecretStorage==2.3.1
serial==0.0.97
simplegeneric==0.8.1
simplejson==3.16.0
six==1.12.0
spidev==3.4
subprocess32==3.5.4
traitlets==4.3.2
wcwidth==0.1.7

