Adafruit-GPIO==1.0.3
Adafruit-PCA9685==1.0.1
Adafruit-PureIO==1.1.9
asn1crypto==1.4.0
backports.functools-lru-cache==1.6.4
backports.shutil-get-terminal-size==1.0.0
blinker==1.4
certifi==2022.12.7
cffi==1.12.3
chardet==3.0.4
Click==7.0
colorama==0.3.7
configparser==3.5.0b2
cryptography==39.0.1
cycler==0.10.0
decorator==4.4.0
entrypoints==0.3
enum34==1.1.6
idna==2.8
intelhex==2.2.1
ipaddress==1.0.17
ipython==8.10.0
ipython-genutils==0.2.0
iso8601==0.1.12
itsdangerous==0.24
Jinja2==2.11.3
keyring==17.1.1
keyrings.alt==3.1.1
kiwisolver==1.1.0
MarkupSafe==1.1.0
matplotlib==2.2.4
mysmbus==0.1
numpy==1.22.0
pathlib2==2.3.4
pexpect==4.7.0
pickleshare==0.7.5
ptyprocess==0.6.0
pycparser==2.19
Pygments==2.7.4
pyinotify==0.9.6
pyOpenSSL==21.0.0
pyparsing==3.0.6
pyserial==3.5
python-dateutil==2.8.2
pytz==2021.3
pyusb==1.2.1
pyxdg==0.27
PyYAML==6.0
requests==2.27.1
RPi.GPIO==0.7.0
SabertoothPacketSerial==0.2.2
scandir==1.10.0
SecretStorage==3.3.1
serial==0.0.97
simplegeneric==0.8.1
simplejson==3.17.6
six==1.16.0
spidev==3.5
subprocess32==3.5.4
traitlets==4.3.2
wcwidth==0.1.7

