Adafruit-GPIO==1.0.3
Adafruit-PCA9685==1.0.1
Adafruit-PureIO==0.2.3
asn1crypto==0.24.0
backports.functools-lru-cache==1.5
backports.shutil-get-terminal-size==1.0.0
blinker==1.4
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
Click==7.0
colorama==0.3.7
configparser==3.5.0b2
cryptography==2.6.1
cycler==0.10.0
decorator==4.4.0
entrypoints==0.3
enum34==1.1.6
Flask==1.0.2
future==0.17.1
idna==2.8
intelhex==2.2.1
ipaddress==1.0.17
ipython==5.8.0
ipython-genutils==0.2.0
iso8601==0.1.12
itsdangerous==0.24
Jinja2==2.10.1
keyring==17.1.1
keyrings.alt==3.1.1
kiwisolver==1.1.0
MarkupSafe==1.1.0
matplotlib==2.2.4
monotonic==1.5
mysmbus==0.1
numpy==1.16.2
odrive==0.4.11
pathlib2==2.3.4
pexpect==4.7.0
pickleshare==0.7.5
prompt-toolkit==1.0.16
ptyprocess==0.6.0
pycparser==2.19
pygame==1.9.4.post1
Pygments==2.4.2
PyGObject==3.30.4
pyinotify==0.9.6
pyOpenSSL==19.0.0
pyparsing==2.4.2
pyserial==3.4
python-dateutil==2.8.0
pytz==2019.2
pyusb==1.0.2
pyxdg==0.26
PyYAML==5.1.2
requests==2.22.0
RPi.GPIO==0.7.0
SabertoothPacketSerial==0.2.2
scandir==1.10.0
SecretStorage==2.3.1
serial==0.0.97
simplegeneric==0.8.1
simplejson==3.16.0
six==1.12.0
spidev==3.4
subprocess32==3.5.4
traitlets==4.3.2
urllib3==1.25.3
wcwidth==0.1.7
Werkzeug==0.15.3
