[Unit]
Description=R2 PS3
 
[Service]
ExecStart=/usr/bin/python /home/pi/r2_control/controllers/ps3/r2_ps3.py
WorkingDirectory=/home/pi/r2_control/controllers/ps3
StandardOutput=syslog
Restart=on-failure
 
[Install]
WantedBy=multi-user.target
Alias=r2_ps3.service


